<h1>Welcome, <%= @user.first_name %></h1>

<h3>Account details</h3>

<table>
  <tr>
    <td>First Name</td>
    <td><%= @user.first_name %></td>
  </tr>
  <tr>
    <td>Last Name</td>
    <td><%= @user.last_name %></td>
  </tr>
  <tr>
    <td>Email</td>
    <td><%= @user.email %></td>
  </tr>
</table>

<p>
  <%= link_to "Create an account", new_account_path %>
</p>
